<!DOCTYPE html>

<html lang="en">
  <head>
    <title> Patient-Panel</title>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <!-- Bootstrap CSS -->
    
        <link rel="stylesheet" href="../static/vendor/fontawesome/css/font-awesome.min.css">

    
  
    
    



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Global Hospital </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <style >
    .bg-primary {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #342ac1;
    border-color: #007bff;
}
.text-primary {
    color: #342ac1!important;
}

.btn-primary{
  background-color: #3c50c1;
  border-color: #3c50c1;
}
table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 16px;
        text-align: left;
    }
    th, td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f4f4f4;
        color: #333;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #f1f1f1;
    }
    button:hover {
        cursor: pointer;
    }
    #inputbtn:hover {
        cursor: pointer;
    }
  </style>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item">
        <a class="nav-link" href="logout.html"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
  </div>
</nav>
  </head>
  <style type="text/css">
    button:hover{cursor:pointer;}
    #inputbtn:hover{cursor:pointer;}
  </style>
  <body style="padding-top:50px;">
  
   <div class="container-fluid" style="margin-top:50px;">
    <h3 style = "margin-left: 40%;  padding-bottom: 20px; font-family: 'IBM Plex Sans', sans-serif;">  Welcome &nbsp;{{ username[0] }}!😊
   </h3>
    <div class="row">
  <div class="col-md-4" style="max-width:25%; margin-top: 3%">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-dash-list" data-toggle="list" href="#list-dash" role="tab" aria-controls="home">Dashboard</a>
      <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Book Appointment</a>
      <a class="list-group-item list-group-item-action" href="#app-hist" id="list-pat-list" role="tab" data-toggle="list" aria-controls="home">Appointment History</a>
      <a class="list-group-item list-group-item-action" href="#list-pres" id="list-pres-list" role="tab" data-toggle="list" aria-controls="home">Prescriptions</a>
      
    </div><br>
  </div>
  <div class="col-md-8" style="margin-top: 3%;">
    <div class="tab-content" id="nav-tabContent" style="width: 950px;">


      <div class="tab-pane fade  show active" id="list-dash" role="tabpanel" aria-labelledby="list-dash-list">
        <div class="container-fluid container-fullw bg-white" >
              <div class="row">
               <div class="col-sm-4" style="left: 5%">
                  <div class="panel panel-white no-radius text-center">
                    <div class="panel-body">
                      <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                      <h4 class="StepTitle" style="margin-top: 5%;"> Book My Appointment</h4>
                      <script>
                        function clickDiv(id) {
                          document.querySelector(id).click();
                        }
                      </script>                      
                      <p class="links cl-effect-1">
                        <a href="#list-home" onclick="clickDiv('#list-home-list')">
                          Book Appointment
                        </a>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4" style="left: 10%">
                  <div class="panel panel-white no-radius text-center">
                    <div class="panel-body" >
                      <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>
                      <h4 class="StepTitle" style="margin-top: 5%;">My Appointments</h2>
                    
                      <p class="cl-effect-1">
                        <a href="#app-hist" onclick="clickDiv('#list-pat-list')">
                          View Appointment History
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
                </div>

                <div class="col-sm-4" style="left: 20%;margin-top:5%">
                  <div class="panel panel-white no-radius text-center">
                    <div class="panel-body" >
                      <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-list-ul fa-stack-1x fa-inverse"></i> </span>
                      <h4 class="StepTitle" style="margin-top: 5%;">Prescriptions</h2>
                    
                      <p class="cl-effect-1">
                        <a href="#list-pres" onclick="clickDiv('#list-pres-list')">
                          View Prescription List
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      <div class="tab-pane fade" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <center><h4>Create an appointment</h4></center><br>
          
              <!-- Flash message area -->
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  <div class="alert alert-success mt-3">
                      {% for category, message in messages %}
                          <p>{{ message }}</p>
                      {% endfor %}
                  </div>
              {% endif %}
              {% endwith %}
          
              <form class="form-group" method="post" action="/create-appointment" onsubmit="return validateDate()">
                  <!-- Specialization -->
                  <div class="row">
                      <div class="col-md-4">
                          <label for="spec">Specialization:</label>
                      </div>
                      <div class="col-md-8">
                          <select name="SelectSpecilization" class="form-control" id="spec" required>
                              <option value="" disabled selected>Select Specialization</option>
                              {% for row in spec %}
                                  <option value="{{ row[0] }}">{{ row[0] }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
          
                  <!-- Doctors -->
                  <div class="row">
                      <div class="col-md-4">
                          <label for="doctor">Doctors:</label>
                      </div>
                      <div class="col-md-8">
                          <select name="doctors" class="form-control" id="doctor" required>
                              <option value="" disabled selected>Select Doctor</option>
                          </select>
                      </div>
                  </div>
          
                  <!-- Consultancy Fees -->
                  <div class="row">
                      <div class="col-md-4">
                          <label for="consultancyfees">Consultancy Fees:</label>
                      </div>
                      <div class="col-md-8">
                          <input class="form-control" type="text" name="docFees" id="docFees" readonly="readonly" value="250$"/>
                      </div>
                  </div>
          
                  <!-- Appointment Date -->
                  <div class="row">
                      <div class="col-md-4">
                          <label for="appdate">Appointment Date:</label>
                      </div>
                      <div class="col-md-8">
                          <input type="date" class="form-control" name="appdate" id="appdate" required>
                      </div>
                  </div>
          
                  <!-- Appointment Time -->
                  <div class="row">
                      <div class="col-md-4">
                          <label for="apptime">Appointment Time:</label>
                      </div>
                      <div class="col-md-8">
                          <select name="apptime" class="form-control" id="apptime" required>
                              <option value="" disabled selected>Select Time</option>
                              <option value="08:00:00">8:00 AM</option>
                              <option value="10:00:00">10:00 AM</option>
                              <option value="12:00:00">12:00 PM</option>
                              <option value="14:00:00">2:00 PM</option>
                              <option value="16:00:00">4:00 PM</option>
                          </select>
                      </div>
                  </div>
          
                  <div class="row">
                      <div class="col-md-12">
                          <input type="submit" name="app-submit" value="Create new entry" class="btn btn-primary" id="inputbtn">
                      </div>
                  </div>
              </form>
          
              <script>
                  document.getElementById('spec').onchange = function() {
                      let specialization = this.value;
          
                      if (specialization) {
                          fetch('/get-doctors', {
                              method: 'POST',
                              headers: {
                                  'Content-Type': 'application/x-www-form-urlencoded'
                              },
                              body: new URLSearchParams({ 'specialization': specialization })
                          })
                          .then(response => response.json())
                          .then(data => {
                              let doctorSelect = document.getElementById('doctor');
                              doctorSelect.innerHTML = '<option value="" disabled selected>Select Doctor</option>';
          
                              data.forEach(doctor => {
                                  let option = document.createElement('option');
                                  option.value = doctor.name;
                                  option.textContent = doctor.name;
                                  doctorSelect.appendChild(option);
                              });
                          })
                          .catch(error => console.error('Error fetching doctors:', error));
                      } else {
                          document.getElementById('doctor').innerHTML = '<option value="" disabled selected>Select Doctor</option>';
                      }
                  };
          
                  function validateDate() {
                      const appDateInput = document.getElementById('appdate');
                      const appDate = new Date(appDateInput.value);
                      const today = new Date();
                      const oneYearFromNow = new Date();
                      oneYearFromNow.setFullYear(today.getFullYear() + 1);
          
                      if (appDate < today || appDate > oneYearFromNow) {
                          alert('Appointment date must be between today and one year from now.');
                          return false; // Prevent form submission
                      }
                      return true; // Allow form submission
                  }
              </script>

          
            

              
            </div>
          </div>
        </div><br>
      </div>
      
<div class="tab-pane fade" id="app-hist" role="tabpanel" aria-labelledby="list-pat-list">
        
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th> First Name</th>
                    <th> Last Name</th>
                    <th> Consultancy Fees</th>
                    <th> Appointment Date</th>
                    <th> Appointment Time</th>
                    <th> Status</th>
                    <th> Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in appointments %}
          <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
              <td>
                {% if row[5] != 'Cancelled by Patient' %}
                <a href="#" 
                  onClick="return confirm('Are you sure you want to cancel this appointment ?')"
                  title="Cancel Appointment" tooltip-placement="top" tooltip="Remove"><button class="btn btn-danger">Cancel</button></a>
                  <script>
                    function cancelAppointment(appointmentId) {
                        if (confirm('Are you sure you want to cancel this appointment?')) {
                            fetch(`/cancel-appointment/${appointmentId}`, {
                                method: 'POST',
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    alert('Appointment cancelled successfully.');
                                    location.reload(); // Reload the page to update the appointment status
                                } else {
                                    alert('Failed to cancel the appointment.');
                                }
                            })
                            .catch(error => console.error('Error:', error));
                        }
                    }
                    </script>
                     
                </a>
                {%else%}
                 ____________
                {% endif %}
                </td>
          </tr>
          {% endfor %}           
                      </tr>
                </tbody>
              </table>
        <br>
      </div>



      <div class="tab-pane fade" id="list-pres" role="tabpanel" aria-labelledby="list-pres-list">
        
              <table class="table table-hover">
                <thead>
                  <tr>
                    
                    <th>Doctor Name</th>
                    <th>Appointment ID</th>
                    <th>Appointment Date</th>
                    <th>Appointment Time</th>
                    <th>Diseases</th>
                    <th>Allergies</th>
                    <th>Prescriptions</th>
                    <th>Bill Payment</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in prescription %}
                  <tr>
                      <td>{{ row[0] }}</td>
                      <td>{{ row[1] }}</td>
                      <td>{{ row[2] }}</td>
                      <td>{{ row[3] }}</td>
                      <td>{{ row[4] }}</td>
                      <td>{{ row[5] }}</td>
                      <td>{{ row[6] }}</td>
                      <td>

                            <a href="bill_template.html">
                            <input type ="hidden" name="ID" value=""/>
                            <input type = "submit" onclick="alert('Bill Paid Successfully');" name ="generate_bill" class = "btn btn-success" value="Pay Bill"/>
                            </a>
                            </td>
                  </tr>
                  {% endfor %}
              </table>
        <br>
      </div>


      
    </div>
  </div>
</div>
   </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.1/sweetalert2.all.min.js">
   </script>



  </body>
</html>
